<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://wx.newone.com.cn/mobile/public/package/ipad/zsipad.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://wx.newone.com.cn/mobile/public/package/ipad/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cn.com.cmschina.cmszhiyuanpadHK</string>
				<key>bundle-version</key>
				<string>3.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>招商致远</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
